@mixin contentFont($base_size: '52.0834px') {
    @media screen and (max-width: 320px) {
      font-size: $base_size;
    }
  
    @media screen and (min-width: 321px) and (max-width: 375px) {
      font-size: $base_size + 2;
    }
  
    @media screen and (min-width: 414px) {
      font-size: $base_size + 4;
    }
  }