<div class="cart">
    <div class="cart-list">
        <div class="page-wrap">
            <div class="nologin">
                <a href="javascript:void(0)">
                    <span class="flex">登录后享受更多优惠</span>
                    <em class="flex">去登录</em>
                </a>
            </div>
            <div class="noitems">
                <a href="#/index/home/position">
                    <span>购物车还是空的</span>
                    <em>去逛逛</em>
                </a>
            </div>
            <div class="recommend">
                <div class="top-img">
                    <img src="//i8.mifile.cn/b2c-mimall-media/e95ade2750a7fde92369b416c7d3176d.jpg" alt="">
                </div>
                <div class="list" id="list">
                    <div class="goods-item">
                        <a href="javascript:void(0)">
                            <div class="img-box">
                                <img src="" alt="">
                            </div>
                            <div class="goods-info">
                                <div class="goods-name"></div>
                                <div class="goods-price"></div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>