<div class="container">
    
    <main id="index-scroll"></main>
    <footer>
        <nav>
            <a href="#/index/home/position" >
                <i  class="image-icons images-o-1"></i>
                <span class="footer-color">首页</span>
            </a>
            <a href="#/index/home/category">
                <i class="image-icons images-d"></i>
                <span>分类</span>
            </a>
            <a href="#/index/home/cart">
                <i class="image-icons images-d"></i>
                <span>购物车</span>
            </a>
            <a href="#/index/home/user">
                <i class="image-icons images-d"></i>
                <span>我的</span>
            </a>
        </nav>
    </footer>
</div>