<div class="search">
    <main>
        <div class="search-view">
            <div class="head">
                <div class="head-input">
                    <div class="head-search">
                        <a href="javascript:void(0)" class="back" id="back">
                            <i class="image-icons"></i>
                        </a>
                        <div class="search-item">
                            <input type="search" autocomplete="off" placeholder="" value="手机">
                        </div>
                        <a href="#/index/search/listPhone" class="icon" id="">
                            <i class="image-icons"></i>
                        </a>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)">
                <img src="https://i8.mifile.cn/b2c-mimall-media/7e6f1f652ccc78e3bf84c2e85585a6f4.png?w=1080&h=300&bg=E8EDF1"
                    alt="">
            </a>
            <div class="app-nav">
                <div class="nav-main">
                    <a href="javascript:void(0)">
                        综合<i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)">
                        销量
                    </a>
                    <a href="javascript:void(0)">
                        价格<span>
                            <i class="icon icon-up"></i>
                            <i class="icon icon-down"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)">筛选</a>
                </div>
                <div class="item-child">
                    <div>
                        <a href="javascript:void(0)">
                            综合排序<em></em>
                        </a>
                        <a href="javascript:void(0)">
                            新品优先<em></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="app-classes-head">
                <div class="nav-specs">
                    <a href="javascript:void(0)">
                        <span>拍照像素</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <span>拍照像素</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <span>拍照像素</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)">
                        <span>拍照像素</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">三摄像头</p>
                                <p class="desc">后置相机拥有3个摄像头</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">双摄像头</p>
                                <p class="desc">后置相机拥有2个摄像头</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">高清拍摄</p>
                                <p class="desc">后置相机在1200万像素以上</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)">重置</a>
                            <a href="javascript:void(0)">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">超大屏</p>
                                <p class="desc">屏幕超过6英寸</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">中小屏</p>
                                <p class="desc">屏幕小于6英寸</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)">重置</a>
                            <a href="javascript:void(0)">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">极速畅玩</p>
                                <p class="desc">运行内存在5GB以上</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">高速</p>
                                <p class="desc">运行内存为4GB</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">流畅</p>
                                <p class="desc">运行内存为3GB</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">实用</p>
                                <p class="desc">运行内存在3GB以下</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)">重置</a>
                            <a href="javascript:void(0)">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">超长待机</p>
                                <p class="desc">电池容量在3500mAh以上</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">持久待机</p>
                                <p class="desc">电池容量在2000mAh-3500mAh之间</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)">重置</a>
                            <a href="javascript:void(0)">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>