<div class="search">
    <main>
        <div class="search-view">
            <div class="showbg" style="display: none"></div>
            <div class="head">
                <div class="head-input">
                    <div class="head-search">
                        <a href="javascript:void(0)" class="back" id="back">
                            <i class="image-icons"></i>
                        </a>
                        <div class="search-item">
                            <input type="search" autocomplete="off" placeholder="" value="手机">
                        </div>
                        <a href="#/index/search/listPhone" class="icon" id="">
                            <i class="image-icons"></i>
                        </a>
                    </div>
                </div>
            </div>
            <a href="javascript:void(0)">
                <img src="https://i8.mifile.cn/b2c-mimall-media/7e6f1f652ccc78e3bf84c2e85585a6f4.png?w=1080&h=300&bg=E8EDF1"
                    alt="">
            </a>
            <div class="app-nav">
                <div class="nav-main">
                    <a href="javascript:void(0)" class="active">
                        综合<i class="active icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)">
                        销量
                    </a>
                    <a href="javascript:void(0)">
                        价格<span>
                            <i class="icon icon-up icon1"></i>
                            <i class="icon icon-down icon2"></i>
                        </span>
                    </a>
                    <a href="javascript:void(0)" class="active">筛选</a>
                </div>
                <div class="item-child">
                    <div>
                        <a href="javascript:void(0)" class="active">
                            综合排序<em></em>
                        </a>
                        <a href="javascript:void(0)">
                            新品优先<em></em>
                        </a>
                    </div>
                </div>
            </div>
            <div class="app-classes-head">
                <div class="nav-specs">
                    <a href="javascript:void(0)" class="border-1px">
                        <span>拍照像素</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)" class="border-1px">
                        <span>屏幕大小</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)" class="border-1px">
                        <span>运行内存</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <a href="javascript:void(0)" class="border-1px">
                        <span>电池续航</span>
                        <i class="icon icon-down"></i>
                    </a>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">三摄像头</p>
                                <p class="desc">后置相机拥有3个摄像头</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">双摄像头</p>
                                <p class="desc">后置相机拥有2个摄像头</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">高清拍摄</p>
                                <p class="desc">后置相机在1200万像素以上</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)" class="btn-reset">重置</a>
                            <a href="javascript:void(0)" class="btn-confirm">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">超大屏</p>
                                <p class="desc">屏幕超过6英寸</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">中小屏</p>
                                <p class="desc">屏幕小于6英寸</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)" class="btn-reset">重置</a>
                            <a href="javascript:void(0)" class="btn-confirm">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">极速畅玩</p>
                                <p class="desc">运行内存在5GB以上</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">高速</p>
                                <p class="desc">运行内存为4GB</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">流畅</p>
                                <p class="desc">运行内存为3GB</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">实用</p>
                                <p class="desc">运行内存在3GB以下</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)" class="btn-reset">重置</a>
                            <a href="javascript:void(0)" class="btn-confirm">确定</a>
                        </div>
                    </div>
                    <div class="item-child" style="display: none">
                        <div class="box">
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">超长待机</p>
                                <p class="desc">电池容量在3500mAh以上</p>
                            </a>
                            <a href="javascript:void(0)">
                                <em></em>
                                <p class="name">持久待机</p>
                                <p class="desc">电池容量在2000mAh-3500mAh之间</p>
                            </a>
                        </div>
                        <div class="btn-box">
                            <a href="javascript:void(0)" class="btn-reset">重置</a>
                            <a href="javascript:void(0)" class="btn-confirm">确定</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-box" id="page-box">
            <div class="page-wrap">
                <div class="app-goods-list">
                    <!-- <div class="item-box">
                        <a href="javascript:void(0)">
                            <img class="item-img"
                                src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3c1af9783bdc53ed843af5655ca92009.jpg"
                                alt="">
                            <div class="icon-left">
                                <img src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/dc366c6277333af59cd0fec8285b5677.png?w=120&h=48"
                                    alt="">
                            </div>
                            <div class="item-con">
                                <h3 class="mt">sdadsads</h3>
                                <p class="item-desc">sadjlhkadsssssssssssssssssssssshk</p>
                                <div class="item-price">
                                    <sub>¥</sub>777yuan
                                    <span class="spe">起</span>
                                    <span class="icon-box"></span>
                                </div>
                                <div class="item-count">
                                    <span>266条评价</span>
                                </div>
                            </div>
                        </a>
                    </div> -->
                    <!-- <div class="item-box">
                        <a href="javascript:void(0)">
                            <img class="item-img"
                                src="//cdn.cnbj1.fds.api.mi-img.com/mi-mall/3c1af9783bdc53ed843af5655ca92009.jpg"
                                alt="">
                            <div class="icon-left">
                                <img src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/dc366c6277333af59cd0fec8285b5677.png?w=120&h=48"
                                    alt="">
                            </div>
                            <div class="item-con">
                                <h3 class="mt">sdadsads</h3>
                                <p class="item-desc">sadjlhkadsssssssssssssssssssssshk</p>
                                <div class="item-specs-list">
                                    <div class="specs-item bd-right-1px">
                                        <span class="name">cpu</span>
                                        <span class="dest">xiang</span>
                                    </div>
                                    <div class="specs-item bd-right-1px">
                                        <span class="name">cpu</span>
                                        <span class="dest">xiang</span>
                                    </div>
                                    <div class="specs-item ">
                                        <span class="name">cpu</span>
                                        <span class="dest">xiang</span>
                                    </div>
                                </div>
                                <div class="item-price">
                                    <sub>¥</sub>777yuan
                                    <span class="spe">起</span>
                                    <span class="icon-box">
                                        <img src="http://cdn.cnbj0.fds.api.mi-img.com/b2c-mimall-media/05c84c8d8ffebf7fd17c8838b5d81ee6.png" alt="">
                                        <img src="" alt="">
                                        <img src="" alt="">
                                    </span>
                                </div>
                                <div class="item-count">
                                    <span>266条评价</span>
                                    <span>99999满意</span>
                                </div>
                            </div>
                        </a>
                    </div> -->
                </div>
            </div>
        </div>
    </main>
</div>

