<div class="search">
    <main>
        <div class="search-view">
            <div class="head">
                <div class="head-input">
                    <div class="head-search">
                        <a href="javascript:void(0)" class="back" id="back">
                            <i class="image-icons"></i>
                        </a>
                        <div class="search-item">
                            <input type="search" autocomplete="off" placeholder="搜索商品名称">
                        </div>
                        <a href="#/index/search/listPhone" class="icon" id="">
                            <i class="image-icons"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="bottom">
                <div class="top">
                    <div class="title">热门搜索</div>
                    <div class="img">
                        <img src="https://cdn.cnbj1.fds.api.mi-img.com/mi-mall/55a21ce9ae3ce582e11f3d362a3d167a.jpg?w=1080&h=300&bg=162B5B" alt="">
                    </div>
                </div>
                <div class="middle">
                    <a href="javascript:void(0)" class="m1">领券中心</a>
                    <a href="javascript:void(0)" class="m2">Redmi K20</a>
                    <a href="javascript:void(0)" class="m3">RedmiBook 14</a>
                    <a href="javascript:void(0)" class="m4">智能积木 越野四驱车</a>
                    <a href="javascript:void(0)" class="m5">吃到饱 1元流量任性用</a>
                    <a href="javascript:void(0)" class="m6">圈铁耳机Pro</a>
                    <a href="javascript:void(0)" class="m7">移动电源3 10000mAh</a>
                    <a href="javascript:void(0)" class="m8">小米转接线</a>
                </div>
                <div class="up">
                    <div class="title">常用分类</div>
                    <div class="list">
                        <a href="javascript:void(0)">手机</a>
                        <a href="javascript:void(0)">电视</a>
                        <a href="javascript:void(0)">笔记本</a>
                        <a href="javascript:void(0)">盒子</a>
                        <a href="javascript:void(0)">路由器</a>
                        <a href="javascript:void(0)">平板</a>
                        <a href="javascript:void(0)">手表</a>
                        <a href="javascript:void(0)">投影</a>
                        <a href="javascript:void(0)">VR</a>
                        <a href="javascript:void(0)">穿戴</a>
                        <a href="javascript:void(0)">影音</a>
                        <a href="javascript:void(0)">空气净化器</a>
                        <a href="javascript:void(0)">空调</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>