<div class="user">
    <div class="user-list">
        <div class="header">
            <div class="register">
                <div class="img">
                    <img src="../images/user.png" alt="">
                </div>
                <div class="name">登录/注册</div>
            </div>
        </div>
        <div class="myOrder">
            <div class="cite">我的订单</div>
            <div class="all">
                <a href="javascript:void(0)">全部订单</a>
            </div>
        </div>
        <div class="details">
            <div>
                <a href="javascript:void(0)">
                    <div class="icon icon1"></div>
                    <span>待付款</span>
                </a>
            </div>
            <div>
                <a href="javascript:void(0)">
                    <div class="icon icon2"></div>
                    <span>待收货</span>
                </a>
            </div>
            <div>
                <a href="javascript:void(0)">
                    <div class="icon icon3"></div>
                    <span>退换修</span>
                </a>
            </div>
        </div>
        <div class="user-line"></div>
        <div class="vip items">
            <div class="b1">
                <a href="javascript:void(0)">
                    <cite>会员中心</cite>
                </a>
            </div>
            <div class="b2 b">
                <a href="javascript:void(0)">
                    <cite>我的优惠</cite>
                </a>
            </div>
        </div>
        <div class="user-line"></div>
        <div class="items">
            <div class="b3">
                <a href="javascript:void(0)">
                    <cite>服务中心</cite>
                </a>
            </div>
            <div class="b4 b">
                <a href="javascript:void(0)">
                    <cite>小米之家</cite>
                </a>
            </div>
        </div>
        <div class="user-line"></div>
        <div class="F items">
            <div class="b5">
                <a href="javascript:void(0)">
                    <cite>F码通道</cite>
                </a>
            </div>
        </div>
        <div class="user-line"></div>
        <div class="set items">
            <div class="b6">
                <a href="javascript:void(0)">
                    <cite>设置</cite>
                </a>
            </div>
        </div>
    </div>
</div>